@font-face {
  font-family: Tmvinogradoblique;
  src: url(tmvinograd/Tmvinogradoblique.ttf);
}
.text {
  width: 85cqi;
  margin: auto;
}
body {
  background-color: #fffffe;
  color: #2b2c34;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
}
input {
  display: none;
}
.pursuit {
  margin-top: 30px;
  position: sticky;
  top: 0;
  background: #870505cb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
  padding: 8px;
}
.pursuit div {
  display: flex;
  align-items: center;
}
.pursuit div button {
  color: white !important;
  display: flex;
  align-items: center;
  border: white solid 3px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #2b2c34;
  margin: 5px;
}
.pursuit div button:hover {
  background-color: #ffffff86;
}
.pursuit .me {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  border: #6246ea solid 3px;
  padding: 5px;
  background-color: #6246ea;
  border-radius: 50px;
  color: white;
}
.pursuit .me:hover {
  background-color: #402ca3;
}
.links a {
  text-decoration: none;
  border: #6246ea solid 3px;
  padding: 14px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #25D366;
  margin: 5px;
}
.links a:hover {
  background-color: #075E54;
}
.links .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 13px;
}
.links .flex a:nth-child(1) {
  color: #6246ea;
  font-size: 18px;
}
.links .flex a:nth-child(1):hover {
  background-color: #2b2063;
}
.links .flex a:nth-child(3) {
  color: #229ED9;
}
.links .flex a:nth-child(3):hover {
  background-color: #124963;
}
.links h2 {
  display: flex;
  justify-content: center;
  font-family: Tmvinogradoblique;
}
.img {
  background: url(Fotoram.io.jpg) center / cover;
  margin: auto;
  width: 54cqi;
  height: 61cqi;
}
.version {
  color: #f0f0f0;
  padding-right: 10px;
}
.reviewsP {
  margin: 25px 0;
}
.reviews {
  text-decoration: none;
  background-color: #823fdb;
  padding: 7px;
  border-radius: 6px;
  color: white;
  margin-left: 3cqi;
}
.reviews:hover {
  background-color: #5c01d4;
}
.blur {
  margin-left: 3cqi;
  padding: 10px;
  background-color: #31b5d345;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
}
.blur p {
  margin: 5px 0;
}
.blur h3 {
  margin: 0;
}
.individual {
  margin-left: 3cqi;
  margin-top: 50px;
  padding: 10px;
  background-color: #2aa2dba8;
  border-radius: 10px;
  text-align: center;
}
.group {
  margin-left: 3cqi;
  margin-top: 50px;
  padding: 10px;
  background-color: #2abadba8;
  border-radius: 10px;
  text-align: center;
}
.prices {
  display: flex;
}
.myLink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3f3f3f;
  width: 100%;
  color: #f0f0f0;
}
.myLink a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #c0c0c0;
  background-color: #505050;
  border-radius: 24px;
}
.myLink a:hover {
  color: #9a9a9a;
}
.myLink div:nth-child(2) {
  display: flex;
}
@media screen and (max-width: 880px) {
  .myLink div:nth-child(2) {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .prices {
    flex-direction: column;
  }
}
@media screen and (max-width: 470px) {
  .myLink a {
    padding: 13px !important;
  }
}
@media screen and (max-width: 590px) {
  .schedule {
    margin-left: 20px !important;
  }
}
@media screen and (max-width: 505px) {
  .individual {
    margin-left: 0px !important;
  }
  .reviews {
    margin-left: 0px !important;
  }
  .group {
    margin-left: 0px !important;
  }
  .blur {
    margin-left: 0px !important;
  }
  .schedule {
    margin-left: 0px !important;
  }
  .img {
    width: 95cqi;
    height: 108cqi;
  }
}
.statementExtract {
  margin-top: 40px;
  margin-bottom: 25px;
}
.schedule {
  display: inline-block;
  padding: 20px;
  padding-top: 0%;
  border-radius: 10px;
  background-color: #e45858;
  margin-left: 3cqi;
  margin-bottom: 25px;
}
.schedule h3 {
  margin-top: 20px;
}
.h1 {
  margin-top: 0%;
  padding: 13px;
  display: flex;
  justify-content: center;
  background: #870505cb;
  /* fallback for old browsers */
  color: #ffffff;
  font-family: Tmvinogradoblique;
}
